.primarys-color{
	background-color: #324851!important;
}

.secondarys-color{
	background-color: #86AC41!important;	
}

.nav-primary{
	background-color: #324851!important;
}

.tertiary-color{
	background-color: #7DA3A1!important;
}

.text-thin{
	font-weight: 100px!important;
}